{% extends "base.html" %}
{% load staticfiles %}
{% block javascripts %}
    <script src="{% static 'js/money.js' %}"></script>
{% endblock %}
{% block content %}
    <form action="{% url 'interface:money' %}" method="post">
    {% csrf_token %}
        {{ message }}
        <div class="form-group">
            <label for="money"> Money </label>
            <input id="money" name="money" type="text" class="form-control"/>
        </div>
        {% include 'keyboard.html' %}
    </form>
    {% include 'navigation.html' %}
{% endblock %}