{% extends "base.html" %}
{% load staticfiles %}
{% block javascripts %}
    <script src="{% static 'js/pin.js' %}"></script>
{% endblock %}
{% block content %}
    <h1>Pin</h1>
    <form action="{% url 'pin' %}" method="post">
        {% csrf_token %}
        {{ message }}
        <div class="form-group">
            <label for="password"> Enter your PIN </label>
            <input id="password" name="password" type="password" class="form-control"/>
        </div>
        {% include 'keyboard.html' %}
    </form>
    <a href="{% url 'login' %}" class="btn btn-default">Back</a>
{% endblock %}